<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>insta45</title>
</head>



<body>

    <div id="reactEntry">
    	Loading ...
    </div>
    <script 
        type="text/javascript"
        {% if config['ENV'] == 'production' %}
        src="{{ url_for('static', filename='js/bundle.min.js') }}"
        {% else %}
        src="{{ url_for('static', filename='js/bundle.dev.js') }}"
        {% endif %}
    ></script>
    
</body>
</html>
